*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#game-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#canvas-game-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

#canvas-game-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#title-screen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title-screen img{
  width: 250px;
}


